Django == 4.1.7
boto3 == 1.26.99
channels == 4.0.0
daphne == 4.0.0
django-storages == 1.13.2
more_itertools == 9.0.0
Pillow ==  9.4.0
requests == 2.28.2
channels-redis == 4.0.0
psycopg2 == 2.9.5
strenum; python_version < '3.11'
thefuzz == 0.19.0
