{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
    <link href="{% static 'icons/favicon.ico' %}" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'css/game.css' %}">
    <link rel="stylesheet" href="{% static 'css/timer.css' %}">
    <link rel="stylesheet" href="{% static 'css/answers.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
</head>

<body>
<div id="pause-popup" class="invisible text-center p-5">
        <h1 id="pause-text"></h1>
        <button id="resume-game" type="button" class="btn btn-secondary control-btn invisible"> Resume </button>
</div>
<div class="container">
    <div class="row justify-content-center">
        <h1 class="col-sm-2" id="game-code"></h1>
    </div>
     <button id="start-game" type="button" class="btn btn-secondary invisible control-btn"> Start </button>
     <button id="pause-game" type="button" class="btn btn-secondary invisible control-btn"> Pause </button>
     <button id="cancel-game" type="button" class="btn btn-secondary invisible control-btn"> Cancel </button>
     <div class="row justify-content-center mb-2">
         <div id="timer" class=" col-3 col-sm-1"></div>
     </div>
     <div id="status-screen" class="game-screen invisible row justify-content-around"></div>
     <div id="task-screen" class="game-screen invisible row justify-content-center">
         <div id="drawing-task" class="task-type invisible col-md-6">
                  <div class="drawing-canvas-block">
                      <canvas id="drawing-canvas"></canvas>
                  </div>
                  <div id="colors-block">
                      <button id="main-color" type="button" class="drawing-color-icon active"></button>
                      <button id="secondary-color" type="button" class="drawing-color-icon"></button>
                  </div>
                 <div class="text-area"><div id="task"></div></div>
                 <div class="submit-btn-block">
                     <button type="button" id="submit-painting" class="btn btn btn-secondary" >Send</button>
                 </div>

         </div>
         <div id="writing-task" class="task-type invisible col-md-6">
             <div class="drawing-area"><img src="" id="round-painting"></div>
             <div class="text-area">
                 <form id="variant-form">
                     <div class="input-group mb-3">
                         <input id="variant" type="text" class="form-control" placeholder=""
                                aria-label="">
                         <button class="btn btn-primary" type="submit" id="submit-variant">Send</button>
                     </div>
                     <div class="validation-error"></div>
                 </form>
             </div>
         </div>
         <ul id="selecting-task" class="task-type invisible list-group col-sm-6"></ul>
     </div>
     <div id="answers-screen" class="game-screen invisible row justify-content-between">
         <div id="variants-block" class="col-sm-5"></div>
         <div id="variant-details" class="col-sm-5">
             <div class="answer-card">
                 <div class="answer-card-inner">
                     <div class="answer-card-front">
                         <p id="answer-card-variant" class="answer-card-title"></p>
                         <div id="variant-selects" class="d-flex justify-content-center"></div>
                     </div>
                     <div class="answer-card-back">
                         <p id="answer-card-correctness" class="answer-card-title"></p>
                         <p>Author:</p>
                         <img id="answer-card-author-avatar" src="">
                         <p id="answer-card-author"></p>
                     </div>
                 </div>
             </div>
         </div>
     </div>
     <div id="results-screen" class="game-screen invisible row justify-content-center">
         <div class="col-md-8">
             <canvas id="results-canvas"></canvas>
         </div>
     </div>
     <div id="final-standings" class="game-screen justify-content-center row invisible">
         <div class="col-md-6">
             <a id="main-menu-btn" role="button" class="btn btn-secondary" href="/">Main page</a>
             <button id="restart-game" type="button" class="btn btn-secondary invisible control-btn"> Play again </button>
             <div id="winners" class="d-flex justify-content-center align-items-end">
                 <div id="second-place-card" class="player-card invisible">
                     <span class="place-badge second-place-badge">#2</span>
                     <img class="player-card-img" src="" alt="Player avatar">
                         <div class="player-card-body">
                           <p class="player-card-text"></p>
                         </div>
                 </div>
                 <div id="first-place-card" class="player-card invisible">
                     <span class="place-badge first-place-badge">#1</span>
                     <img class="player-card-img" src="" alt="Player avatar">
                         <div class="player-card-body">
                           <p class="player-card-text"></p>
                         </div>
                 </div>
                 <div id="third-place-card" class="player-card invisible">
                     <span class="place-badge third-place-badge">#3</span>
                     <img class="player-card-img" src="" alt="Player avatar">
                         <div class="player-card-body">
                           <p class="player-card-text"></p>
                         </div>
                 </div>
             </div>
             <table id="final-standing-table" class="table align-middle mb-0 bg-white">
                 <thead class="bg-light">
                    <tr>
                      <th>#</th>
                      <th>Player</th>
                      <th>Score</th>
                    </tr>
                 </thead>
                 <tbody>
                 </tbody>
             </table>
         </div>
     </div>
</div>
<script>
    const gameId = {{game_id}};
    const mainColor = "{{drawing_color}}";
    const staticUrl = {% get_static_prefix %};
    const gameCode = "{{game_code}}";
</script>
<script src="{%static 'js/results.js'%}"></script>
<script src="{%static 'js/functions.js'%}"></script>
<script src="{%static 'js/timer.js'%}"></script>
<script src="{%static 'js/answers.js'%}"></script>
<script src="{%static 'js/websocket.js'%}"></script>
<script src="{%static 'js/buttons.js'%}"></script>
<script src="{%static 'js/drawing.js'%}"></script>
<script src="{%static 'js/init.js'%}"></script>

</body>
</html>