{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
    <link href="{% static 'icons/favicon.ico' %}" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'css/game.css' %}">
    <link rel="stylesheet" href="{% static 'css/timer.css' %}">
    <link rel="stylesheet" href="{% static 'css/answers.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
</head>

<body>
<div id="pause-popup" class="pop-up invisible text-center p-5">
        <h1 id="pause-popup-text">Game is paused</h1>
        <button id="resume-game" type="button" class="btn btn-secondary control-btn invisible"> Resume </button>
</div>
<div id="cancel-popup" class="pop-up invisible text-center p-5">
        <h1 id="cancel-popup-text">Game is cancelled</h1>
        <a role="button" class="btn btn-secondary" href="/">Main page</a>
</div>
<div id="disconnect-popup" class="pop-up invisible text-center p-5">
        <h1 id="disconnect-popup-text"></h1>
        <button id="reconnect-server" type="button" class="btn btn-secondary"> Reconnect </button>
</div>

<nav class="navbar navbar-expand-md navbar-light bg-light">

  <div class="container-fluid">
      <span class="navbar-brand font-weight-bold">{{game_code}}</span>
      <div id="timer" class=" col-3 col-sm-1"></div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <button id="start-game" type="button" class="btn btn-secondary invisible control-btn m-1"> Start </button>
        </li>
        <li class="nav-item">
            <button id="pause-game" type="button" class="btn btn-secondary invisible control-btn m-1"> Pause </button>
        </li>
        <li class="nav-item">
            <button id="cancel-game" type="button" class="btn btn-secondary invisible control-btn m-1"> Cancel </button>
        </li>
          <li class="nav-item">
             <button id="restart-game" type="button" class="btn btn-secondary invisible control-btn"> Play again </button>
          </li>
      </ul>
    </div>
  </div>
</nav>


<div class="container">
     <div id="status-screen" class="game-screen invisible row justify-content-around ">
         <div id="current-task" class="col-md-6"></div>
         <div id="players-statuses" class="col-md-6 row justify-content-around"></div>
     </div>
     <div id="task-screen" class="game-screen invisible row justify-content-center">
         <div id="drawing-task" class="task-type invisible col-md-6">
                  <div class="drawing-canvas-block">
                      <canvas id="drawing-canvas"></canvas>
                  </div>
                  <div id="colors-block">
                      <input type="range" class="custom-range" min="3" max="12" id="brushSize">
                      <button id="main-color" type="button" class="drawing-color-icon active"></button>
                      <button id="secondary-color" type="button" class="drawing-color-icon"></button>
                  </div>
                 <div class="text-area"><div id="task"></div></div>
                 <div class="submit-btn-block">
                     <button type="button" id="submit-painting" class="btn btn btn-secondary" >Send</button>
                 </div>
         </div>
         <div id="writing-task" class="task-type invisible col-md-6 text-center">
             <h4>What is drawn here?</h4>
             <div id="drawing-area"></div>
             <div class="text-area">
                 <form id="variant-form">
                     <div class="input-group mb-3">
                         <input id="variant" type="text" class="form-control" placeholder=""
                                aria-label="" autocomplete="off">
                         <button class="btn btn-primary" type="submit" id="submit-variant">Send</button>
                     </div>
                     <div class="validation-error"></div>
                 </form>
             </div>
         </div>
         <div id="selecting-task" class="task-type invisible col-sm-6">
             <h4 class="text-center">Select the correct answer</h4>
             <div id="selecting-task-image" class="text-center"></div>
             <ul id="selecting-task-variants" class="list-group"></ul>
         </div>
     </div>
     <div id="answers-screen" class="game-screen invisible row justify-content-between">
         <div id="variant-details" class="col-sm-5">
             <div class="answer-card">
                 <div class="answer-card-inner">
                     <div class="answer-card-front">
                         <p id="answer-card-variant" class="answer-card-title"></p>
                         <div id="variant-selects" class="d-flex flex-wrap justify-content-center"></div>
                     </div>
                     <div class="answer-card-back">
                         <p id="answer-card-correctness" class="answer-card-title"></p>
                         <p>Author:</p>
                         <div id="answer-card-author"><!-- container for avatar and nickname --></div>
                     </div>
                 </div>
             </div>
         </div>
         <div id="variants-block" class="col-sm-5"></div>

     </div>
     <div id="results-screen" class="game-screen invisible row justify-content-center">
         <div class="col-md-8">
             <canvas id="results-canvas"></canvas>
         </div>
     </div>
     <div id="final-standings" class="game-screen justify-content-center row invisible">
         <div class="col-md-6">
             <a role="button" class="btn btn-secondary" href="/">Main page</a>
             <div id="winners" class="d-flex justify-content-center align-items-end">
             </div>
             <table id="final-standing-table" class="table align-middle mb-0 bg-white">
                 <thead class="bg-light">
                    <tr>
                      <th>#</th>
                      <th>Player</th>
                      <th>Score</th>
                      <th><i class="fa fa-thumbs-up"></i></th>
                    </tr>
                 </thead>
                 <tbody>
                 </tbody>
             </table>
         </div>
     </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<script>
    let mainColor = "{{drawing_color}}";
    const staticUrl = {% get_static_prefix %};
</script>
<script src="{%static 'js/results.js'%}"></script>
<script src="{%static 'js/functions.js'%}"></script>
<script src="{%static 'js/timer.js'%}"></script>
<script src="{%static 'js/answers.js'%}"></script>
<script src="{%static 'js/websocket.js'%}"></script>
<script src="{%static 'js/buttons.js'%}"></script>
<script src="{%static 'js/drawing.js'%}"></script>
<script src="{%static 'js/init.js'%}"></script>
</body>
</html>