{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ game_title }} - {{ game_slogan }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="{% static 'icons/favicon.ico' %}" rel="shortcut icon" type="image/x-icon" />
</head>
<body>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<div class="container 11px-4 11py-7 11my-5">
    <div class="text-center p-3">
        <h1 class="p-3">{{ game_title }}</h1>
        <p class="lead">{{ game_slogan }}</p>
    </div>
    <div class="row row-cols-1 row-cols-md-2 mb-3">
      <div class="col">
        <div class="card mb-4 border-success rounded-3 shadow-sm">
          <div class="card-header py-3 bg-success bg-opacity-25">
            <h4 class="my-0 fw-normal text-center">Join existing game</h4>
          </div>
          <div class="card-body px-md-5 pt-md-4">
            <form method="post">
                {% csrf_token %}
                <p>
                    {{ form.game_code.errors }}
                    <label for="{{ form.game_code.id_for_label }}">{{ form.game_code.label }}:</label>
                    {{ form.game_code }}
                </p>
                <p>
                    {{ form.player_nickname.errors }}
                    <label for="{{ form.player_nickname.id_for_label }}">{{ form.player_nickname.label }}:</label>
                    {{ form.player_nickname }}
                </p>
                <div class="d-flex justify-content-between">
                    <input type="submit" class="btn btn-primary" value="Join"/>
                </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 border-warning rounded-3 shadow-sm">
          <div class="card-header py-3 bg-warning bg-opacity-50">
            <h4 class="my-0 fw-normal text-center">or Create a New Game</h4>
          </div>
          <div class="card-body px-md-5 pt-md-4">
            <form method="POST" action="{% url 'create_game' %}">
                {% csrf_token %}
                <div class="row">
                    <div class="col-xl">
                        <p>
                            {{ new_game_form.player_nickname.errors }}
                            <label for="{{ new_game_form.host_nickname.id_for_label }}">{{ new_game_form.host_nickname.label }}:</label>
                            {{ new_game_form.host_nickname }}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl">
                        <div>
                            <label for="{{ new_game_form.language.id_for_label }}">{{ new_game_form.language.label }}:</label>
                            {{ new_game_form.language.errors }}
                            {{ new_game_form.language }}
                        </div>
                    </div>
                    <div class="col-xl col-xs-2">
                        <div>
                            <label for="{{ new_game_form.cycles.id_for_label }}">{{ new_game_form.cycles.label }}:</label>
                            {{ new_game_form.cycles.errors }}
                            {{ new_game_form.cycles }}
                        </div>
                    </div>
                    <div class="col-lg gy-3 text-end">
                        <button type="submit" id="create_game" class="btn btn-danger">Create New</button>
                    </div>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>
<script>
    window.addEventListener('load', () => {
      const nicknameEl = document.querySelector('#id_player_nickname');
      const lastName = window.localStorage.getItem('lastName');
      if (lastName) {
        nicknameEl.value = lastName;
      }
      const languageEl = document.querySelector('#id_language');
      const language = window.localStorage.getItem('language');
      if (language) {
        languageEl.value = language;
      } else {
        const browserLang =navigator.language.split('-')[0];
        const allOptions =  [...document.querySelectorAll('#id_language option')].map((x) => x.value);
        if (allOptions.includes(browserLang)) {
            languageEl.value = browserLang;
        }
      }
      nicknameEl.addEventListener('blur', (e) => {
        if (e.target.value) {
          window.localStorage.setItem('lastName', e.target.value);
        }
      });
      languageEl.addEventListener('change', (e) => {
        if (e.target.value) {
          window.localStorage.setItem('language', e.target.value);
        }
      });
    });
</script>
</body>
</html>