.answer-card {
    width: 100%;
    position: relative;
    min-height: 25em;
    perspective: 150em;
    font-family: sans-serif;
    text-align: center;
}


.answer-card-front,
.answer-card-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 18em;
    backface-visibility: hidden;
    transition: transform 0.8s ease;

    box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-backface-visibility: hidden;
    border-radius: 1rem;
}

.answer-card-front {
    background-color: #FFF;
    justify-content: start;
}

.answer-card-back {
    color: #FFF;
    transform: rotateY(180deg);
}

.answer-card-inner.flipped .answer-card-back {
    transform: rotateY(0);
}

.answer-card-inner.flipped .answer-card-front {
    transform: rotateY(-180deg);
}

.answer-card-title {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  margin: 15px;
}

.answer-card-back-incorrect {
  background: linear-gradient(69.7deg, rgb(216, 81, 82) 40%, rgb(154, 27, 69) 100.1%);
  box-shadow: 0 8px 14px 0 red;
}

.answer-card-back-correct {
    background: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
    box-shadow: 0 8px 14px 0 #ECFFDC;
}

#answer-card-author img {
    width: 100px;
    margin: auto;
    background:white;
    border-radius: 50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
}

#answer-card-variant {
    margin: 35px;
}

#variants-block > div {
    border-radius: 15px;
    font-size: 25px;
}

#variant-selects .nickname {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 8rem;
    max-height: 3rem;
}

.selected-by-icon {
    width: 75px;
    height: 75px;
    margin: 15px;
}

.like-btn {
    color: gray;
}

.btn-check + .like-btn:hover {
    color: lightgray;
}

.btn-check:checked + .like-btn:hover {
    color: #98fb98;
}

.btn-check:checked + .like-btn  {
    color: #00ff00;
    border: none;
}



