.invisible {
    display: none
}

.player-avatar {
    width: 100px;
    height: 100px;
}
.status {
    width: 50px;
    height: 50px;
}

@keyframes tilt-shaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

@keyframes tilt-n-move-shaking {
  0% { transform: translate(0, 0) rotate(0deg); }
  25% { transform: translate(5px, 5px) rotate(5deg); }
  50% { transform: translate(0, 0) rotate(0eg); }
  75% { transform: translate(-5px, 5px) rotate(-5deg); }
  100% { transform: translate(0, 0) rotate(0deg); }
}

@keyframes horizontal-shaking {
 0% { transform: translateX(0) }
 25% { transform: translateX(3px) }
 50% { transform: translateX(-3px) }
 75% { transform: translateX(3px) }
 100% { transform: translateX(0) }
}

.status.status-drawing {
    animation: tilt-n-move-shaking 0.40s infinite;
}

.status.status-writing {
    animation: horizontal-shaking 0.6s infinite;
}

.status_block:nth-of-type(1) .status {
  animation-delay: 0.1s;
}

.status_block:nth-of-type(2) .status {
  animation-delay: 0.2s;
}

.validation-error {
    color: #a00;
}

.result-name {
    font-weight: bold;
}

#drawing-canvas{
    border: 1px solid;
}

.option-block:hover {
   background-color: yellow;
   cursor: pointer;
}

.option-block:active {
   background-color: red;
}

#pause-popup {
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 100;
}

.selected-by-icon {
   width: 75px;
   height: 75px;
   border: 2px solid;
   border-radius:50%;
   -moz-border-radius:50%;
   -webkit-border-radius:50%;
   margin: 15px;

}

#variants-block > div {
   border-bottom: 1px dashed;
   font-size: 25px;
   margin-bottom: 15px;
}

#variant-text {
   font-weight: bold;
   font-size: 30px;
   margin: 15px;
}

.correct-answer {
    border: 5px solid green;
    border-radius:10%;
   -moz-border-radius:10%;
   -webkit-border-radius:10%;
}

.incorrect-answer {
    border: 5px solid red;
    border-radius:10%;
   -moz-border-radius:10%;
   -webkit-border-radius:10%;
}
