.invisible {
    display: none
}

.player-avatar {
    width: 100px;
    height: 100px;
}
.status {
    width: 50px;
    height: 50px;
}

@keyframes tilt-shaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

@keyframes tilt-n-move-shaking {
  0% { transform: translate(0, 0) rotate(0deg); }
  25% { transform: translate(5px, 5px) rotate(5deg); }
  50% { transform: translate(0, 0) rotate(0eg); }
  75% { transform: translate(-5px, 5px) rotate(-5deg); }
  100% { transform: translate(0, 0) rotate(0deg); }
}

@keyframes horizontal-shaking {
 0% { transform: translateX(0) }
 25% { transform: translateX(3px) }
 50% { transform: translateX(-3px) }
 75% { transform: translateX(3px) }
 100% { transform: translateX(0) }
}

.status.status-drawing {
    animation: tilt-n-move-shaking 0.40s infinite;
}

.status.status-writing {
    animation: horizontal-shaking 0.6s infinite;
}

.status_block:nth-of-type(1) .status {
  animation-delay: 0.1s;
}

.status_block:nth-of-type(2) .status {
  animation-delay: 0.2s;
}

.validation-error {
    color: #a00;
}

.result-name {
    font-weight: bold;
}

.drawing-canvas-block {
    display: flex;
    justify-content: center;
}

#drawing-canvas{
    border: 5px dashed;
}

.option-block:hover {
   background-color: yellow;
   cursor: pointer;
}

.option-block:active {
   background-color: red;
}

#pause-popup {
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 100;
}

.selected-by-icon {
   width: 75px;
   height: 75px;
   border: 2px solid;
   border-radius:50%;
   -moz-border-radius:50%;
   -webkit-border-radius:50%;
   margin: 15px;

}

#variants-block > div {
   border-bottom: 1px dashed;
   font-size: 25px;
   margin-bottom: 15px;
}

#variant-text {
   font-weight: bold;
   font-size: 30px;
   margin: 15px;
}

/*
.correct-answer .variant-text {
    border-color: green;
    border-radius: 1rem;
}
*/

/*
.incorrect-answer .variant-details {
    border-color: red;
    border-radius:1rem;
}
*/

.variant-details-text-container .variant-details-text-inner {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: pink;
}

.variant-details-text-container {
	box-sizing: border-box;
	padding: 15px;
	position: relative;
	overflow: hidden;
}

.variant-details-text-container::before {
	content: '';
    position: absolute;
    width: 2079px;
    height: 2000px;
    /*
    width: 200%;
    height: 300%;
    */
}


.variant-details-text-container .variant-details-text-inner {
	position: relative;
	background-color: white;
	flex-direction: column;
	box-sizing: border-box;
	/*padding: 30px;*/
	text-align: center;
	font-family: sans-serif;
	z-index: 2;
}


.correct-answer .variant-details-text-container::before {
    background: repeating-linear-gradient(
        white 0%,
        white 7.5px,
        green 7.5px,
        green 15px,
        white 15px,
        white 22.5px,
        green 22.5px,
        green 30px);

	transform: translateX(-20%) translateY(-20%) rotate(-45deg);
	animation: animate 20s linear infinite;
}

.correct-answer .variant-details-text-container,
.correct-answer .variant-details-text-container .variant-details-text-inner {
	box-shadow: 0 0 2px green,
				0 0 5px rgba(0, 0, 0, 1),
				inset 0 0 5px rgba(0, 0, 0, 1);
	border-radius: 2rem;
}

@keyframes animate {
	from {
		background-position: 0;
	}

	to {
		background-position: 0 450px;
	}
}

.incorrect-answer .variant-details-text-container {
    background: #f99;
}

.incorrect-answer .variant-details-text-container,
.incorrect-answer .variant-details-text-container .variant-details-text-inner {
    box-shadow: 0 0 2px red;
	border-radius: 2rem;
}


.drawing-color-icon {
   width: 50px;
   height: 50px;
   border: 2px solid;
   border-radius:50%;
   -moz-border-radius:50%;
   -webkit-border-radius:50%;
   margin: 10px 15px;
}
.drawing-color-icon.active {
   border: 5px solid;
}

#canvas-block {
    display: inline-flex;
}

#task {
    font-size: 25px;
    margin: 10px 0;
    text-align: center;
}

#colors-block {
    display: flex;
    justify-content: center;
}

#submit-painting {
    width: 50%;
    font-size: 20px;
}

.submit-btn-block{
    display: flex;
    justify-content: center;
}