.invisible {
    display: none
}

.player-avatar {
    width: 100px;
    height: 100px;
}
.status {
    width: 50px;
    height: 50px;
}

@keyframes tilt-shaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

@keyframes tilt-n-move-shaking {
  0% { transform: translate(0, 0) rotate(0deg); }
  25% { transform: translate(5px, 5px) rotate(5deg); }
  50% { transform: translate(0, 0) rotate(0eg); }
  75% { transform: translate(-5px, 5px) rotate(-5deg); }
  100% { transform: translate(0, 0) rotate(0deg); }
}

@keyframes horizontal-shaking {
 0% { transform: translateX(0) }
 25% { transform: translateX(3px) }
 50% { transform: translateX(-3px) }
 75% { transform: translateX(3px) }
 100% { transform: translateX(0) }
}

.status.status-drawing {
    animation: tilt-n-move-shaking 0.40s infinite;
}

.status.status-writing {
    animation: horizontal-shaking 0.6s infinite;
}

.status_block:nth-of-type(1) .status {
  animation-delay: 0.1s;
}

.status_block:nth-of-type(2) .status {
  animation-delay: 0.2s;
}

.validation-error {
    color: #a00;
}

.drawing-canvas-block {
    display: flex;
    justify-content: center;
}

#drawing-canvas{
    border: 5px dashed;
}

.option-block:hover {
   background-color: yellow;
   cursor: pointer;
}

.option-block:active {
   background-color: red;
}

.pop-up {
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 100;
}

.drawing-color-icon {
   width: 50px;
   height: 50px;
   border: 2px solid;
   border-radius:50%;
   -moz-border-radius:50%;
   -webkit-border-radius:50%;
   margin: 10px 15px;
}
.drawing-color-icon.active {
   border: 5px solid;
}

#canvas-block {
    display: inline-flex;
}

#task {
    font-size: 25px;
    margin: 10px 0;
    text-align: center;
}

#colors-block {
    display: flex;
    justify-content: center;
}

#submit-painting {
    width: 50%;
    font-size: 20px;
}

.submit-btn-block{
    display: flex;
    justify-content: center;
}

.player-card {
   position:relative;
   margin: 15px;
   border-radius: 15px;
   border: 2px solid;

 box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.player-card-img {
    width: 100%;
}

.player-card-title {
    text-align: center;
}

.player-card-text {
    text-align: center;
    font-weight: bold;
}

.place-badge {
    position: absolute;
    right:-20px;
    top: -20px;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    border: 1px solid;
    color:white;
    padding:5px 10px;
    font-size:25px;
}

.first-place-badge {
   background: #EEE8AA;
}

.second-place-badge {
   background: #C0C0C0;
}

.third-place-badge {
   background: #a17652;
}

#first-place-card {
    width: 35%;
}

#second-place-card {
    width: 30%;
}

#third-place-card {
    width: 25%;
}


#final-standing-table td {
    vertical-align: middle;
    text-align: center
}

#final-standing-table th {
    vertical-align: middle;
    text-align: center
}